{% extends 'base.html' %}

{% block content %}
<form action method="POST" novalidate>
  {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Cancer Diagnostic Assay (CDA)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Cobas E411</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  	{{all_patients.0.req_dated_created}}
  		<table class="table table-info">
  	  <thead>
  	    <tr>
  	      <th scope="row"></th>
  	      <th scope="col">Identification Number</th>
  	      <th scope="col">Requsition Approval Date</th>
  	      <th scope="col">Storage Location</th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	  	{% for things in all_patients %}
  	  	{% if things.req_status == 'Approved' and things.cda_status == 'Waiting' and not things.batch_id_cda%}
  	    <tr>
  	      <th scope="row"><div class="form-check">
  	      <input class="form-check-input" name="cda:{{things.anpac_id}}" type="checkbox" id="cda:{{things.anpac_id}}" value="{{things.anpac_id}}"/>
  	    </th>
  	      <td><label class="form-check-label">{{things.anpac_id}}</label></td>
  	      <td><label class="form-check-label">{{things.req_date_created}}</label></td>
  	      <td><label class="form-check-label">{{things.storage_location}}</label></td>
  	    </tr>
  	    {% endif %}
  	    {% endfor %}
  	  </tbody>
  	</table>
  	<br>
    <div class="row">
    <div class="col-md-3">
        <label class="form-label">Operator:</label>
        <input id="operator_name" name="operator_name" type="text" class="form-control" value="{{ user.first_name }} {{ user.last_name }}" readonly="">
    </div>
    <!--<div class="col-md-3">
        <label class="form-label">Batch ID:</label>
        <input id="batch_id_cda" name="batch_id_cda" type="text" class="form-control" value="">
    </div>-->
    <br>
      <div class="col-md-2">
        <label class="form-label">Assay Machine</label>
        <select class="form-select" id="cda_machine_num" name="cda_machine_num">
          <option selected disabled value="">Select...</option>
          <option>4.1</option>
          <option>3.2</option>
          <option>3.1</option>
          <option>2.1</option>
          <option>1.1</option>
      </select>
    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  			{{all_patients.0.req_dated_created}}
  				<table class="table table-info">
  			  <thead>
  			    <tr>
  			      <th scope="row"></th>
  			      <th scope="col">Identification Number</th>
  			      <th scope="col">Requsition Approval Date</th>
  			      <th scope="col">Storage Location</th>
  			      <th scope="col">Biomarkers</th>
  			    </tr>
  			  </thead>
  			  <tbody>
  			  	{% for things in all_patients %}
  			  	{% if things.req_status == 'Approved' and things.cobas_status == 'Waiting' and not things.batch_id_cobas %}
  			    <tr>
  			      <th scope="row"><div class="form-check">
  			      <input class="form-check-input" name="cob:{{things.anpac_id}}" type="checkbox" id="cob:{{things.anpac_id}}" value="{{things.anpac_id}}"/>
  			    </th>
  			      <td><label class="form-check-label">{{things.anpac_id}}</label></td>
  			      <td><label class="form-check-label">{{things.req_date_created}}</label></td>
  			      <td><label class="form-check-label">{{things.storage_location}}</label></td>
  			      <td scope="col">{% if things.psa_status == 'Waiting' %} (PSA, Total) {% endif %} {% if things.afp_status == 'Waiting' %} (AFP) {% endif %} {% if things.ca125_status == 'Waiting' %} (CA125) {% endif %} {% if things.ca19_9_status == 'Waiting' %} (CA19-9) {% endif %} {% if things.cea_status == 'Waiting' %} (CEA) {% endif %}</td>
  			    </tr>
  			    {% endif %}
  			    {% endfor %}
  			  </tbody>
  			</table>
        <div class="row">
          <div class="col-md-3">
              <label class="form-label">Operator:</label>
              <input id="operator_name" name="operator_name" type="text" class="form-control" value="{{ user.first_name }} {{ user.last_name }}" readonly="">
          </div>
          <!--<div class="col-md-3">
              <label class="form-label">Batch ID:</label>
              <input id="batch_id_cobas" name="batch_id_cobas" type="text" class="form-control" value="">
          </div>-->
          <div class="col-md-2">
            <label class="form-label">Cobas Machine</label>
            <select class="form-select" id="cobas_machine_num" name="cobas_machine_num">
              <option selected disabled value="">Select...</option>
              <option>E411.1</option>
              <option>E411.2</option>
            </select>
        </div>
        </div>
        <br>
  		</div>
  </div>
  <br>
   <div class="col-12">
    <button class="btn btn-primary" type="submit">Assign</button>
  </div>
  <br><br>
</div>
</form>

{% endblock %}