{% extends 'base.html' %}
{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link {{cda_status}}" id="cda-tab" data-bs-toggle="tab" data-bs-target="#cda" type="button" role="tab" aria-controls="cda" aria-selected="true">Cancer Diagnostics Assay (CDA)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link {{cobas_status}}" id="cobas-tab" data-bs-toggle="tab" data-bs-target="#cobas" type="button" role="tab" aria-controls="cobas" aria-selected="false">Cobas E411</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show {{cda_status}}" id="cda" role="tabpanel" aria-labelledby="cda-tab">
  		{% if all_devices %}
  			{% for device in all_devices %}
  				{% if device.machine_type == 'cda' %}
  					<div class="accordion" id="accordionExample">
  					  <div class="accordion-item">
  					    <h2 class="accordion-header" id="headingTwo">
  					      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" disabled>
  					        {{device.machine_identifier}}
  					      </button>
  					    </h2>
  					    <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
  					      <div class="accordion-body">
  					        Batch Amount: {{device.batch_amount}} &nbsp
  					        <a class="btn btn-danger" href="{% url 'ResetBatchAmount' device.machine_identifier %}">Reset Batch Amount</a>
  					      </div>
  					    </div>
  					  </div>
  					</div>
  				{% endif %}
  			{% endfor %}
  		{% endif %}
  </div>
  <div class="tab-pane fade show {{cobas_status}}" id="cobas" role="tabpanel" aria-labelledby="cobas-tab">
  	{% if all_devices %}
  			{% for device in all_devices %}
  				{% if device.machine_type == 'cobas' %}
  					<div class="accordion" id="accordionExample">
  					  <div class="accordion-item">
  					    <h2 class="accordion-header" id="headingTwo">
  					      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" disabled>
  					        {{device.machine_identifier}}
  					      </button>
  					    </h2>
  					    <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
  					      <div class="accordion-body">
  					        Batch Amount: {{device.batch_amount}} &nbsp
  					        <a class="btn btn-danger" href="{% url 'ResetBatchAmount' device.machine_identifier %}">Reset Batch Amount</a>
  					      </div>
  					    </div>
  					  </div>
  					</div>
  				{% endif %}
  			{% endfor %}
  		{% endif %}
  </div>
</div>
{% endblock %}